:root {
    --tile-length-count: 4;

    --board-width: min(550px, 90vw);
    /* font size and div size: use rems */

    --tile-background: rgba(255, 255, 255, 0.12);
    --tile-border: 1px solid rgba(255, 255, 255, 0.3);
    --tile-border-radius: 5%;
    --tile-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    --tile-width: calc(var(--game-board-width) / var(--tile-length-count));
    --tile-font-size: 50px;
    
    --button-padding: 15px;
    --button-border-radius: 10em;
    --button-font-size: 20px;
    --button-background: rgba(255, 255, 255, 0.15);
    --button-border: 1px solid rgba(255, 255, 255, 0.3);
    --button-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    --button-flex-gap: 20px;

    --site-background: linear-gradient(#792082, #7474c1);
    --site-font-family: Arial;
    --text-color: rgba(255, 255, 255, 1);

    --title-font-size: 70px;
    --title-text-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);

    --p-font-size: 20px;   
    --p-text-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);

    --section-margin: 70px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    height: 100%;
    background-image: var(--site-background);
    font-family: var(--site-font-family);
    margin: var(--section-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 100px;
    margin-bottom: 50px;
}

h1 {
    color: var(--text-color);
    font-size: var(--title-font-size);
    text-shadow: var(--title-text-shadow);
}

p {
    color: var(--text-color);
    font-size: var(--p-font-size);
    text-shadow: var(--p-text-shadow);
}

button {
    background: var(--button-background);
    border: var(--button-border);
    border-radius: var(--button-border-radius);
    box-shadow: var(--button-box-shadow);
    padding: var(--button-font-size);
    color: var(--text-color);
    font-size: var(--button-font-size);
    cursor: pointer;
}

.section {
    margin-top: var(--section-margin);
    width: var(--board-width);
    display: flex;
    justify-content: space-between;
    gap: var(--button-flex-gap);
}

#board {
    aspect-ratio : 1 / 1;
    margin-top: var(--section-margin);
    display: grid;
    grid-template-columns: repeat(var(--tile-length-count), 1fr);
    width: var(--board-width);
    height: var(--board-width);
}

.tile {
    aspect-ratio : 1 / 1;
    color: var(--text-color);
    border-radius: var(--tile-border-radius);
    width: var(--tile-width);
    height: var(--tile-width);
    margin: 3px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--tile-font-size);
    cursor: default;
}

.canvas {
    border-radius: var(--tile-border-radius);
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .section {
        flex-direction: column;
        gap: 15px;
    }
} 