:root {
    --tile-length-count: 4;

    --board-width: 35vw;

    --tile-color: rgba(0, 0, 0, 0.2);
    --tile-width: calc(var(--game-board-width) / var(--tile-length-count));
    --tile-border: 1px solid black;
    --tile-border-radius: 5%;
    --tile-font-size: 50px;
    
    --button-padding: 15px;
    --button-border-radius: 0%;
    --button-font-size: 25px;

    --site-background: linear-gradient(#792082, #7474c1);
    --site-font-family: Arial;
    --text-color: white;
    --title-font-size: 70px;   
    --section-margin: 70px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-image: var(--site-background);
    font-family: var(--site-font-family);
    margin: var(--section-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--text-color);
    font-size: var(--title-font-size);
}

button {
    border: 0;
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--text-color);
    border-radius: var(--button-border-radius);
    padding: var(--button-font-size);
    font-size: var(--button-font-size);
}

.section {
    margin-top: var(--section-margin);
    width: var(--board-width);
    display: flex;
    justify-content: space-between;
}

#board {
    margin-top: var(--section-margin);
    display: grid;
    grid-template-columns: repeat(var(--tile-length-count), 1fr);
    width: var(--board-width);
    height: var(--board-width);
}

.tile {
    color: var(--text-color);
    border-radius: var(--tile-border-radius);
    width: var(--tile-width);
    height: var(--tile-width);
    margin: 1px;
    
    /*Center Tile Number*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--tile-font-size);
    cursor: default;
}

.canvas {
    border-radius: var(--tile-border-radius);;
    width: 100%;
    height: 100%;
}
